*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;

}


.main_container{
  height: 780px;
  width: 784px;
  /* border: 1px solid white; */
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* background-color: #121212; */
}


.image {
    height: 40px;
    width: 100%;
    /* border: 1px solid white; */
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.image img {
    height: 45px;
    width: 45px;
    margin-bottom: 20px;
}


.tospotify{
    height: 40px;
    width: 100%;
    /* border: 1px solid white; */
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-bottom: 20px;
}


.google{
    height: 45px;
    width: 350px;
    border: 1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    cursor: pointer;
    gap: 30px;
}

.google{
    border: 1px solid #747474;
    padding: 10px;
    /* display: inline-block; */
}

.google:hover {
    border-color:white;
}



.google h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-right: 20px;
}
.google img{
   height: 25px;
   width: 25px;
   margin-right: 20px;
}




.facebook{
    height: 45px;
    width: 350px;
    border: 1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    cursor: pointer;
    gap: 30px;
}

.facebook{
    border: 1px solid #747474;
    padding: 10px;
    /* display: inline-block; */
}

.facebook:hover {
    border-color:white;
}



.facebook h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-right: 20px;
}
.facebook img{
   height: 25px;
   width: 25px;
   margin-right: 15px;
}



.apple{
    height: 45px;
    width: 350px;
    border: 1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    cursor: pointer;
    gap: 30px;
}

.apple{
    border: 1px solid #747474;
    padding: 10px;
    /* display: inline-block; */
}

.apple:hover {
    border-color:white;
}



.apple h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-right: 20px;
}
.apple img{
   height: 25px;
   width: 25px;
   margin-right: 35px;
}
.line_make{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 360px;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    gap: 15px;
   margin-top: 25px;
}
.line_make p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.line{
    width: 280px;
    border: 0;
    border-top: 1px solid #7e7e7e;
    margin: 20px 0;
    /* margin-top: 40px; */
 
}
form{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: 10px;
}

form input{
    height: 50px;
    width: 320px;
    background-color: #121212;
    border: 1px solid white;
    color: #9ea8b1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
    border: none;
    border-inline-color: none;
    border-radius: 4px;
    cursor: auto;
    

}
form{
    margin-top: 20px;
}

form h3{
    margin-top: 10px;
    font-size: small;
}
#input{
    border: 1px solid #747474;
    padding: 10px;
    /* display: inline-block; */
    margin-top: 10px;
}

#input:hover {
    border-color:white;
}


form input ::placeholder{
    margin-left: 20px;
    border: none;
}


.toggle{
    height: 30px;
    width: 300px;
    /* border: 1px solid white; */
    margin-top: 15px;
    display: flex;
    align-items: center;
}


.togglebtn{
    height: 20px;
    width: 40px;
    border: 4px solid white;
    border-radius: 50px;
    background-color: #1cd35d;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.togglebtn button{
    height: 13px;
    width: 13px;
    border-radius: 50px;
    background-color: #121212;
    border: none;
}

.toggle p{
    font-size:x-small;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 10px;
}


.loginbtn{
    height:50px;
    width: 300px;
    border: 1px solid white;
    margin-top: 30px;
    border-radius: 220px;
    background-color: #1cd35d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    transition: transform 0.3s ease;
     font-size: small;
}

.loginbtn:hover {
    transform: scale(1.07); 
}


#password{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    cursor: pointer;
}

#password{
    /* border: 1px solid #747474; */
    color: white;
    /* padding: 10px; */
    /* display: inline-block; */
    /* margin-top: 10px; */
}

#password:hover {
    color:#1cd35d;
}

#new_acc{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    cursor: pointer;
    color: #abacae;
}

.last{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.last_footer{
    height: 50px;
    width: 340px;
    /* border: 1px solid white; */
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    flex-direction: column;
}


#last_footer{
   
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    cursor: pointer;
    color: #abacae;

}

#Privacy{
    color: #abacae;

}

.and{
    height: 30px;
    width: 280px;
    /* border: 1px solid white; */
   flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
}

.and p{
    color: white;
}